.magicbook-wrap h2{
	text-transform: uppercase;
	padding:10px;
	font-weight:normal;
	text-transform:none;
	margin:20px auto;
}
.magicbook-wrap .nav-tab-wrapper{
    margin:40px auto!important;
}
.magicbook-wrap h3{
	font-weight:bold;
	margin:10px auto;
}
.magicbook-wrap .box{
	border:1px solid #ccc;
	background:#fff;
	padding:20px 40px;
	clear:both;
	float:none;
	font-size:16px;
	line-height: 1.5em;
	margin-bottom:10px;
}
.magicbook-wrap .box p{
	font-size:16px;
}
.magicbook-wrap .col li{
	padding:10px 0;
	border-bottom:1px solid #ddd;
}
.magicbook-wrap .col li:last-child{
	border:none;
}
.magicbook-wrap .section{
  margin:20px 0;
  clear:both;
}
.magicbook-wrap img{
	width:auto;
	max-width:100%;
	height:auto;
}
.magicbook-wrap .questions{
	height:700px;
	overflow: auto;
}
.magicbook-wrap .intro{
  font-size:18px;
  width:80%;
}
.magicbook-wrap input[name="purchase_key"]{
  padding:10px;
  width:89%;
  float:left;
  margin-bottom:20px;
}
.magicbook-wrap input[name="activate_license"],
.magicbook-wrap input[name="deactivate_license"]{
	height: 39px;
    float: left;
    margin-left:5px;
    width:100px;
}
.magicbook-wrap .activated,
.magicbook-wrap .warning{
  background: #4caf50;
  color:#fff;
  padding:10px;
  clear:both;
  margin:20px 0;
  line-height: 1.5em;
}
.magicbook-wrap .warning{
  background:#f00;
}
.magicbook-wrap .expired_date{
  margin:20px auto;
  color:#4caf50;
  display: block;
}
.magicbook-admin-grid{
	margin-top:20px;
}
.plugin-required {
    background: #f00;
    text-transform: uppercase;
    color: #fff;
    padding: 5px 17px;
    position: absolute;
    top: 10px;
    left: -24px;
    z-index: 2;
    transform: rotate(-45deg);
    font-size:12px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2)
}
.magicbook-wrap .button.disabled{
  background:#ccc;
  color:#aaa;
}
.magicbook-wrap .plugin-icon{
  width:100px;
}
.magicbook-wrap .plugin-card .name h3{
  font-size:16px;
  margin-top:0;
}
.magicbook-wrap .plugin-card .desc{
  font-size:12px;
}
.magicbook-wrap .plugin-card .desc, 
.magicbook-wrap .plugin-card .name{
  margin-left:128px;
}
.magicbook-wrap .plugin-card-top{
  overflow:hidden;
}
.magicbook-wrap .magicbook-plugin-update-notice{
    display: block!important;
    z-index: 1;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -15px;
}
.button.button-orange{
  background: #ff9900;
    color: #fff;
    border-color: #e48900;
}
.ocdi__gl-item-image-container{
	height:150px;
}